:root{
    --color:white;
    --color-cloud:#F4F4FD;
    --color-web-plus-button:#4D5AE5;
    --background-color:#2E2F42;
    --color-navy-blue:#2E2F42;
    --color-slate:#434455;
    --color-footer:#E7E9FC;
    --color-hover:#404BBF;
}

::before, ::after{
    box-sizing: border-box;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
    background-color: var(--color);
    font-weight: 400;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.text-16{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

img{
    display: block;
}

.main{
    width: 1440px;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* _________________HEADER__________________ */

.header{
    width: 1440px;
    border-bottom: 1px solid #E7E9FC;
}

.nav-container{
    height: 70px;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
    align-items: center;
    margin-right: 332px;
}

.header-logo {
    color: var(--color-web-plus-button);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-color {
    color: var(--color-navy-blue);
}

.header-list{
    display: flex;
}

.list-item {
    margin-right: 40px;
}

.list-item:last-child{
    margin-right: 0;
}

.list-item>.link:hover, .list-item>.link:focus{
    color: var(--color-hover);
    border-bottom: 4px #404BBF solid;           
}

.list-link {
   color: var(--color-navy-blue);
   font-weight: 500;
   padding: 20px 0 20px 0;

}

.address {
    font-style: normal;
}

.address-contact { 
    list-style: none;
    margin-right: 40px;
}

.address-contact:last-child{
    margin-right: 0;
}

.address-contact>.link:hover, .address-contact>.link:focus{
    color: var(--color-hover);
}

.address-list{
    display: flex;
}

.address-link{
    color: var(--color-slate);
}

/* _________________________hero_____________ */
.hero {
    background-color: var(--background-color);
}

.hero-container{

}

.hero-text {
    color: var(--color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    width: 496px;
    height: 120px;
    margin: 0 auto;

}

.button-order {
    background-color: var(--color-web-plus-button);
    color: var(--color);
    font-weight: 500;
    letter-spacing: 0.04em;
    font-family: 'Roboto', sans-serif;
    margin: 48px auto;
    display: block;
    width: 169px;
    height: 56px;
    border: 0px;
    border-radius: 4px;
}

.button-order:hover, .button-order:focus{
    background-color: var(--color-hover);
    cursor: pointer;
}

/* ________________Tech_____________________ */

.tech {
}

.tech-container{
}

.tech-list {
}

.tech-list-item {
    list-style: none;
    display: inline-block;
    width: 260px;
    margin: 0 24px 0 0;
}

.tech-list-item:last-child{
    margin: 0 0 0 0;
}
.tech-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--color-navy-blue);
}

.tech-content {
    height: 104px;
    width: 264px;
}

/* ________________________ what-are-we-doing____________________ */

.what-are-we-doing {

}



.section-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
}

.gallery{
    width: 1140px;
    padding: 0;
}

.gallery-list {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0 24px 0 0;
}

.gallery-list:last-child{
    margin: 0 0 0 0;
}

/* ______________OUR TEAM____________________ */

.our-team {
    background-color:  #F4F4FD;
}

.our-team-container{
}

.team-list {
    padding: 0;
    margin-top: 72px;
    display: flex;
}

.team-item {
    list-style: none;
    margin: 0 24px 0 0;
    background-color: #ffffff;
    height: 380px;
}

.team-item:last-child{
    margin: 0 0 0 0;
}

.team-text{
    padding: 32px 60px;
}

.person-name {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--color-navy-blue);
    margin-bottom: 8px;   
}

.position-work {
    text-align: center;
}

/* __________FOOTER_______________ */

.footer{
    background-color: var(--color-navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1440px;
}

.footer-container{
}

.footer-logo {
    color: var(--color-web-plus-button);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-color-footer {
    color: var(--color-cloud);
}

.footer-text{
    margin-top: 17.5px;
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-footer);
}


/* Portfolio */

.section-portfolio{

}

.button-list{
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}

.button-item{
    margin-right: 24px;
}

.list-img-portfolio{
    display: flex;
    flex-wrap: wrap;
}

.item-img-portfolio{
    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px;
}

.img-portfolio{
    width: 360px;
    height: 300px;
}

.item-img-portfolio:nth-child(3n){
    margin-right: 0;
}

.item-img-portfolio:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.filter-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--color-cloud);
    color: var(--color-web-plus-button);
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    
}

.buttno-item:last-child{
    margin-right: 0;
}

.filter-btn:hover, .filter-btn:focus{
    color: #ffffff;
    background-color: var(--color-hover);
    cursor: pointer;
}

.portfolio-text{
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.title-under-img{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}


.paragraf-under-img{
    color: var(--color-slate);

}

.footer-portfolio{

}